* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color: #f0f8ff;
}

main {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

form {
  position: relative;
  border: 1px solid blue;
  border-radius: 25px;
  width: 400px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#titulo {
  font-family: Arial, Helvetica, sans-serif;
  color: blue;
  font-size: 30px;
}

#email, #senha {
  width: 200px;
  font-size: 15px;
  padding: 0px 25px 0px 10px;
}

.btn {
  position: relative;
}

.bi {
  cursor: pointer;
  font-size: 15px;
  height: 15px;
  width: 15px;
  position: absolute;
  right: 3%;
  bottom: 10%;
  color: blue;
}

#email {
  margin: 0px 5px 0px 0px;
}