.topo {
  width: 1000px;
  height: 100px;
  background-color: #cccccc;
  margin: auto;
}

#textotopo {
  color: green;
  font-size: 20px;
  font-family: Verdana, Arial, 'Times New Roman';
  font-weight: bold;
  padding-top: 20px;
}

.texto {
  color: black;
  font-size: 15px;
  text-align: center;
  text-transform: normal;
}

.corpo {
  width: 1000px;
  height: 500px;
  background-color: #eeeeee;
  margin: auto;
}

#textocorpo {
width: 45%;
font-weight: normal;
text-align: justify;
padding: 10px;
float: left
}

#imgcorpo {
width: 50%;
height: 50%;
padding: 10px;
}

span {
  font-weight: bold;
}

#textogrifado {
  font-weight: normal;
  background-color: yellow;
}

.rodape {
  width: 1000px;
  height: 100px;
  background-color: #dddddd;
  margin: auto;
}

#textorodape {
  font-size: 15px;
  font-weight: normal;
  padding-top: 20px;
}

a {
  color: black;
  text-decoration: none;
}
