* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-image: url('../img/mat.png');
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

#titulo {
  font-family: 'Comfortaa', cursive;
  display: flex;
  justify-content: center;
  padding-top: 200px;
  font-size: 70px;
}